.card {
    /* padding: 2px; */
    padding: 10px;
    width: 180px;
    z-index: 1;
    /* background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    animation: moveGradient 4.5s alternate-reverse infinite;
    background-size: 200% 300%;
    margin: 10px; */
}
/* @keyframes moveGradient {
    0% {
      background-position: 100% 100%;
    }
} */

.card-content {
    align-items: center;
}

.card-content:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind Siliguri', sans-serif;
}

.card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind Siliguri', sans-serif;
}

img {
    width: 210.33px;
    height: 180.66px;
}