.card {
    float: left;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 230px;
    margin: 30px 20px;
    padding: 5px;
    background-color: #3c544c;
    border-radius: 10px;
}

.card-image img {
    width: 100%;
    max-height: 50%; 
}

.card-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    padding: 15px 0px 0px 10px;
}

.card-preco {
    font-size: 1.0em;
    color: #fff;
    padding: 7px 0px 0px 10px;
}