.nav-content {
    display: grid;
    grid-template-columns: 2fr 1fr 12fr 1fr 2fr;
    justify-content: center;
    height: 100px;
    align-items: center;
    background-color: #d9d9d9;
    justify-items: center;
}

.logo {
    width: 110px;
    height: 86px;
}

.border {
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-size: 300% 300%;
    animation: moveGradient 8.5s alternate-reverse infinite;
}
@keyframes moveGradient {
    0% {
      background-position: 100% 100%;
    }
}