.search {
    display: flex;
    align-content: center;
    justify-content: center;
}

.search-field{ 
    flex: 1;
    margin: 0px;
}

.search-input{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border-radius: 40px;
    color: #fff;
}

.form {
    border: 1px solid #5e17eb;
    outline: none;
    height: 55px;
    width: 470px;
    border-radius: 40px 0px 0px 40px;
    padding-left: 20px;
    font-size: 15px;
    border-right: none;
}

.icon-search {
    display: flex;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #5e17eb;
    border-left: none;
    border-radius: 0px 40px 40px 0px;
    height: 57px;
    width: 55px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #5e17eb;
}

.icon-active {
    display: flex;
    font-size: 25px;
    background-color: #fff;
    border: 1px solid #5e17eb;
    border-left: none;
    border-right: none;
    height: 57px;
    width: 55px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #5e17eb;
}

.icon-inactive {
    display: none
}